:root {
    --red-900: rgb(255, 32, 78);
    --maroon-900: rgb(160, 21, 62);
    --purple-900: rgb(93, 14, 65);
    --navy-900: rgb(0, 34, 77);
    --white-900: rgb(240, 248, 255);
    --card-background: rgba(0, 34, 77, 0.05);
}

a {
    color: var(--white-900);
    text-decoration: none;

}

a:hover {
    color: var(--red-900);
}

body, html{
    background: linear-gradient(45deg, var(--purple-900) 0%, var(--navy-900) 100%);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 0%; }
    75% { background-position: 0% 100%;}    
    100% { background-position: 0% 50%; }

}

h1, h5{
    text-align: left;
    color: var(--white-900);
}

ul {
    color: var(--white-900);
}

.hero {
    float: left;
    word-wrap: break-word;
    word-break: break-word;
    min-width: min-content;
    width: 400px;
}


.filler {
    height: 100px;
}

#jumbotron{
    background-image: url('/static/assets/img/Cryptozoology_banner_Mothman.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.btn-dark:hover{
    background-blend-mode: difference;
}

.card{
    color: var(--white-900);
    mix-blend-mode: difference;
    background: var(--card-background);
    background-blend-mode: difference;
}

.card:hover{
    background-color: rgba(0, 0, 0, .5);
}

.card-link{
    color: var(--red-900);
}

.card-link:hover{
    color: var(--maroon-900);
}

.col{
    color: var(--white-900);
}

.container-fluid{
    color: var(--white-900);
}

.dropdown-menu{
    color: inherit;
    background: rgba(0, 0, 0, 0.85);
}


.list-group-item{
    color: var(--white-900);
    background: linear-gradient(90deg, var(--navy-900) 0%, var(--navy-900) 100%);
}

.navbar{
    background: rgba(0, 0, 0, 0.25);
    background-blend-mode: difference;
}

.navbar-brand{
    color: var(--white-900);
    mix-blend-mode: difference;
}

.navbar-brand:hover{
    color: var(--white-900);
    background-color: var(--navy-900);
    background-blend-mode: difference;
}

.nav-item:active{
    color: var(--white-900);
}

.nav-link{
    color: var(--white-900);
    mix-blend-mode: difference;
    background: rgba(240, 248, 255, .05);
    background-blend-mode: difference;
}

.nav-link:hover{
    color: var(--white-900);
    mix-blend-mode: difference;
    background: rgba(0, 0, 0, 0.637);
    background-blend-mode: difference;
}

.row{
    color: var(--white-900);
}