body{
    background: linear-gradient(45deg, #580000 0%, #000000 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%;}    
}

h1, h5{
    text-align: center;
    text-justify: auto;
    color: aliceblue;
    mix-blend-mode: difference;
}

.hero{
    text-align: center;
}

#jumbotron{
    background-image: url('/static/assets/img/Cryptozoology_banner_Mothman.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.btn-dark:hover{
    background-blend-mode: difference;
}

.card{
    color: aliceblue;
    mix-blend-mode: difference;
    background: rgba(240, 248, 255, .05);
    background-blend-mode: difference;
}

.card:hover{
    background-color: rgba(0, 0, 0, .5);
}

.card-link{
    color: rgba(255, 0, 51, 0.85);
}

.card-link:hover{
    color: rgb(255, 0, 51);
}

.col{
    color: aliceblue;
}

.container-fluid{
    color: aliceblue;
}

.dropdown-menu{
    color: inherit;
    background: rgba(0, 0, 0, 0.85);
}


.list-group-item{
    color: aliceblue;
    background: linear-gradient(90deg, #19316b 0%, #182848 100%);
}

.navbar{
    background: rgba(0, 0, 0, 0.25);
    background-blend-mode: difference;
}

.navbar-brand{
    color: aliceblue;
    mix-blend-mode: difference;
}

.navbar-brand:hover{
    color: aliceblue;
    background-color: black;
    background-blend-mode: difference;
}

.nav-item:active{
    color: aliceblue;
}

.nav-link{
    color: aliceblue;
    mix-blend-mode: difference;
    background: rgba(240, 248, 255, .05);
    background-blend-mode: difference;
}

.nav-link:hover{
    color: aliceblue;
    mix-blend-mode: difference;
    background: rgba(0, 0, 0, 0.637);
    background-blend-mode: difference;
}

.row{
    color: aliceblue;
}