{% from 'bootstrap5/form.html' import render_form %}
{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/Cryptozoology_banner_Mothman.jpeg')"
>
<title>Trope-ical Storm</title>
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% if length < 11 %}
        <div class="site-heading">
          <h1>Trope Game</h1>
          <span class="subheading">Enjoy the movie!</span>
        </div>
        {% else %}
        <div class="site-heading">
          <h1>Horror Tropes</h1>
          <span class="subheading">Full List</span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
       {% for key in tropes.keys() %}
      <div class="post-preview">
        <a href="{{ tropes[key] }}" target="__blank">
          <h2 class="post-title">
            {% if length < 11 %}
            <input type="checkbox">
            {% endif %}
          {{ key }}</h2>
        </a>
      </div>
      {% endfor %}
      {% if form %}
      {{ render_form(form) }}
      {% endif %}
      <!-- Divider-->
      <hr class="my-4" />

{% include "footer.html" %}
