{% extends 'base.html' %}
{% block title %}
{% if length > 11 %}
Full List
{% else %}
Trope Game
{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid py-5" id="jumbotron">
{% if length > 11 %}
<h1>Full List</h1>
{% else %}
<h1>Enjoy the Movie!</h1>
{% endif %}
</div>
<div class="container-fluid">
    <div class="row">
{% for trope in tropes.keys() %}
{% if length < 11 %}
<div class="col-6">
{% else %}
<div class="col-6 col-md-4 col-lg-3 col-xl-2">
{% endif %}
<!-- trope is the title, tropes[trope] is the URL -->
<div class="card">
    <div class="card-body">
        <p class="card-title">{% if length < 11 %}
        <input class="form-check-input" type="checkbox" value="">
        {% endif %}{{ trope }}</p>
        <a class="card-link" href="{{ tropes[trope] }}" target="__blank">Details</a>
    </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}